 <!DOCTYPE html>
<html>
<head>
 <script type="text/javascript" src="js/jquery-1.8.2.min.js" ></script>
 <script type="text/javascript" src="js/hashtable.js" ></script>

 <script src="js/angular.js"></script>

 <SCRIPT LANGUAGE="JavaScript">
		<!--
		var filename;
		var recorderApp = angular.module('recorder', [ ]);

		recorderApp.controller('RecorderController', [ '$scope' , function($scope) {
			$scope.stream = null;
			$scope.recording = false;
			$scope.encoder = null;
			$scope.ws = null;
			$scope.input = null;
			$scope.node = null;
			$scope.samplerate = 22050;
			$scope.samplerates = [ 8000, 11025, 12000, 16000, 22050, 24000, 32000, 44100, 48000 ];
			$scope.bitrate = 64;
			$scope.bitrates = [ 8, 16, 24, 32, 40, 48, 56, 64, 80, 96, 112, 128, 144, 160, 192, 224, 256, 320 ];
			$scope.recordButtonStyle = "red-btn";

			$scope.startRecording = function() {
				if ($scope.recording)
					return;
				console.log('start recording');
				$scope.encoder = new Worker('js/encoder.js');
				console.log('initializing encoder with samplerate = ' + $scope.samplerate + ' and bitrate = ' + $scope.bitrate);
				$scope.encoder.postMessage({ cmd: 'init', config: { samplerate: $scope.samplerate, bitrate: $scope.bitrate } });

				$scope.encoder.onmessage = function(e) {
					$scope.ws.send(e.data.buf);
					if (e.data.cmd == 'end') {
						$scope.ws.close();
						$scope.ws = null;
						$scope.encoder.terminate();
						$scope.encoder = null;
					}
				};
				var loc = window.location.host;
				loc = loc.substring(0,loc.indexOf(':'));
				console.log("loc::::"+loc);
				filename = "recording"+ Math.round(Math.random()*1000);
				alert("filename"+filename);
				$scope.ws = new WebSocket("ws://localhost:8000/ws/audio?recording="+filename);

				$scope.ws.onopen = function() {
					
					$scope.ws.send(filename);
					navigator.webkitGetUserMedia({ video: false, audio: true }, $scope.gotUserMedia, $scope.userMediaFailed);
				};
			};

			$scope.userMediaFailed = function(code) {
				console.log('grabbing microphone failed: ' + code);
			};

			$scope.startmeeting = function(code) {
	
				console.log('startmeeting ---------------------------');

			};

			$scope.gotUserMedia = function(localMediaStream) {
				$scope.recording = true;
				$scope.recordButtonStyle = '';

				console.log('success grabbing microphone');
				$scope.stream = localMediaStream;

				var audio_context = new window.webkitAudioContext();

				$scope.input = audio_context.createMediaStreamSource($scope.stream);
				$scope.node = $scope.input.context.createJavaScriptNode(4096, 1, 1);

				console.log('sampleRate: ' + $scope.input.context.sampleRate);

				$scope.node.onaudioprocess = function(e) {
					if (!$scope.recording)
						return;
					var channelLeft = e.inputBuffer.getChannelData(0);
					$scope.encoder.postMessage({ cmd: 'encode', buf: channelLeft });
				};

				$scope.input.connect($scope.node);
				$scope.node.connect(audio_context.destination);

				$scope.$apply();
			};

			$scope.stopRecording = function() {
				console.log("filename::::::::::"+filename);
				if (!$scope.recording) {
					return;
				}
				$scope.recordButtonStyle = "red-btn";
				console.log('stop recording');
				$scope.stream.stop();
				$scope.recording = false;
				$scope.encoder.postMessage({ cmd: 'finish' });

				$scope.input.disconnect();
				$scope.node.disconnect();
				$scope.input = $scope.node = null;
			};

		}]);
		//-->
		</SCRIPT>
 <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
 <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">

 <style type="text/css"> .red-btn { color: #D00000; }</style>
 <style>
 body {
            background-color: ivory;
        }
        canvas {
            border:1px solid red;
        }
</style>
 </head>
 <body ng-controller="RecorderController"  >
		<div class="container well">
			<h1 class="text-center">Record Stuff from the Browser <a href="uploads/" class="btn btn-info"><i class="icon-download-alt"></i>&nbsp;Download Recordings</a></h1>
			<div class="row">
				<div class="offset3 span3 text-center">
					<label>Sample Rate: <select ng-model="samplerate" ng-options="s + ' Hz' for s in samplerates"></select></label>
				</div>
				<div class="span3 text-center">
					<label>Bit Rate: <select ng-model="bitrate" ng-options="b + ' kbps' for b in bitrates"></select></label>
				</div>
			</div>
			<div class="row">
				<div class="offset3 span3 text-center"><button class="btn" ng-click="startRecording()" ng-disabled="recording"><i class="icon-circle" ng-class="recordButtonStyle"></i>&nbsp;Start recording</button></div>
				<div class="span3 text-center"><button class="btn" ng-click="stopRecording()" ng-disabled="!recording"><i class="icon-stop"></i>&nbsp;Stop recording</button></div>
				
			</div>
			<div class="row">
				<div class="span12 text-center" ng-show="recording">
					<span class="label label-important">Recording...</label>
				</div>
			</div>
		</div>

	


<TABLE>
<TR>
	<TD>
		<TABLE border = "1">
		<TR>
				<TD><IMG id="big_image" SRC="images/meeting/2_big.jpg" WIDTH="63" HEIGHT="53"  BORDER=0 ALT=""></TD>
			</TR>
		</TABLE>
	</TD>
 
 <TD>
	<TABLE border = "1">
	
		<TR>
			<TD><IMG id = "1" SRC="images/meeting/1.JPG" WIDTH="39" HEIGHT="16" BORDER=0 ALT="" onclick = "setLineWidth(this);"></TD>
			<TD><IMG id = "2" SRC="images/meeting/2.JPG" WIDTH="39" HEIGHT="16" BORDER=0 ALT="" onclick = "setLineWidth(this);"></TD>
		</TR>
		<TR>
			<TD><IMG id = "3" SRC="images/meeting/3.JPG" WIDTH="39" HEIGHT="16" BORDER=0 ALT="" onclick = "setLineWidth(this);"></TD>
			<TD><IMG id = "4" SRC="images/meeting/4.JPG" WIDTH="39" HEIGHT="16" BORDER=0 ALT="" onclick = "setLineWidth(this);"></TD>
		</TR>
	</TABLE>
</TD>
	<TD>
		<TABLE border = "1">
		<TR>
				<TD><IMG id="color_image" SRC="images/meeting/black_big.jpg" WIDTH="60" HEIGHT="54" BORDER=0 ALT=""></TD>
			</TR>
		</TABLE>
	</TD>
	<TD>
		<TABLE border = "1">
			<TR>
				<TD><IMG id="black" SRC="images/meeting/black.JPG" WIDTH="20" HEIGHT="20" BORDER=0 ALT="1" onclick = "setStyleColor(this);" ></TD>
				<TD><IMG id="red" SRC="images/meeting/red.JPG" WIDTH="20" HEIGHT="20" BORDER=0 ALT="1" onclick = "setStyleColor(this);" ></TD>
				<TD><IMG id="blue" SRC="images/meeting/blue.JPG" WIDTH="20" HEIGHT="20" BORDER=0 ALT="1" onclick = "setStyleColor(this);" ></TD>
			</TR>
			<TR>
				<TD><IMG id="green" SRC="images/meeting/green.JPG" WIDTH="20" HEIGHT="20" BORDER=0 ALT="1" onclick = "setStyleColor(this);" ></TD>
				<TD><IMG id="yellow" SRC="images/meeting/yellow.JPG" WIDTH="20" HEIGHT="20" BORDER=0 ALT="1" onclick = "setStyleColor(this);" ></TD>
				<TD><IMG id="pink" SRC="images/meeting/pink.JPG" WIDTH="20" HEIGHT="20" BORDER=0 ALT="1" onclick = "setStyleColor(this);" ></TD>
			</TR>
		</TABLE>
	</TD>
	<TD>
		<input type="button" value="Rectangle" onclick = "setId(1)">
		<input type="button" value="Oval" onclick = "setId(2)">
		<input type="button" value="Line" onclick = "setId(3)">
		<input type="button" value="Pencil" onclick = "setId(4)">
		<input type="button" value="Triangle" onclick = "setId(5)">
		<input type="button" value="Arrow" onclick = "setId(6)">
		<input type="button" value="Selection" onclick = "setId(7)">
		<input type="button" value="Highlight" onclick = "setId(8)">
		<input type="button" value="Record" ng-click="startRecording()"  >
		
		<input type="button" value="Play" onclick = "playObject()">
	</TD>
</TR>
</TABLE>




<div id="tm"><audio id="audio1" >
  <source src="" type="audio/mp3">
 
  
  Your browser does not support HTML5 video.
</audio></div>

<canvas id="canvas" width=1280 height=620></canvas>


</body>
<script type="text/javascript">
<!--
var canvas;
var ctx;

var lineWidth = 2;
var styleColor = "#000000";

var canvasOffset;
var offsetX;
var offsetY;
var count = 0;
var objectTable = new Hashtable();
var timeRefTable = new Hashtable();
var nonRecordingObjArray = new Array();
var selObjArray = new Array();;
var freeHandQdArr ;

var isDrawing = false;

var startX;
var startY;

var triEndX;
var triEndY;

var currentObjId = 0;

var currentMiliSec = 0;

var  myVid;

var tempX;
var tempY;

var  tempAngleRad;

var rectangleSelObject = null;

var dragFlag = false;

var highlightedObj = null;

jQuery(document).ready(function(){
	canvas = document.getElementById("canvas");
	ctx = canvas.getContext("2d");
	
	ctx.lineWidth = lineWidth;
	ctx.styleColor = styleColor;

	canvasOffset = $("#canvas").offset();
	offsetX = canvasOffset.left;
	offsetY = canvasOffset.top;
	distanceBetween(5,3,8,6);
	$(document).keydown(function(evt){
	    evt = evt || window.event;
		var charCode = evt.keyCode || evt.which;
		var charStr = String.fromCharCode(charCode);
		if(charCode == 46){
			deleteSelectedObject();
		}
	 })
	$("#canvas").on('mousedown', function (e) {
		dragFlag = true;
		handleMouseDown(e);
	}).on('mouseup', function(e) {
		dragFlag = false;;
		handleMouseUp(e);
	}).on('mousemove', function(e) {
		/*
		if(dragFlag){
		 console.log("MouseDrag-------------------------------------");
		}else{
		 console.log("Mousemove#####################################");
		}*/
		handleMouseMove(e);
	});
});

function clock(){
	setTimeout('clock()',50);
	currentMiliSec = currentMiliSec + 50;

}


function handleMouseUp(e) {
console.log("mouse up::::::::Start::::::::::::::::::::::::::::"+highlightedObj);
	if(highlightedObj != null){
		highlightedObj = null;
	}
console.log("mouse up::::::::Start2222222222::::::::::::::::::::::::::::"+highlightedObj);
	if(isDrawing){
		var mouseX = parseInt(e.clientX - offsetX);
		var mouseY = parseInt(e.clientY - offsetY);	 
		
		var tempPointsArray = new Array();
		if(currentObjId == 4){
			 tempPointsArray = freeHandQdArr;
			 freeHandQdArr = null;
		}else if(currentObjId == 5){
			 if(triEndX == null && triEndY == null){
				  triEndX = mouseX;
				  triEndY = mouseY;
				  return;
			 }else{
				tempPointsArray[tempPointsArray.length] = startX;
				tempPointsArray[tempPointsArray.length] = startY;
				tempPointsArray[tempPointsArray.length] = triEndX;
				tempPointsArray[tempPointsArray.length] = triEndY;
				tempPointsArray[tempPointsArray.length] = mouseX;
				tempPointsArray[tempPointsArray.length] = mouseY;
				triEndX = null; 
				triEndY = null;
			 }
		}else{ 
			tempPointsArray[tempPointsArray.length] = startX;
			tempPointsArray[tempPointsArray.length] = startY;
			tempPointsArray[tempPointsArray.length] = mouseX;
			tempPointsArray[tempPointsArray.length] = mouseY;
		}
			
		if(currentObjId != 7 ){
			count++;
			var graphicsObject = new GraphicsObject(count,currentObjId,tempPointsArray,lineWidth,styleColor);
			objectTable.put(count, graphicsObject);
		}else{
			console.log("mouse up::::::::::::::::::::::::::::::::::::");
			isDrawing = false;
			canvas.style.cursor = "default";
			rectangleSelObject = new GraphicsObject(-1,currentObjId,tempPointsArray,lineWidth,styleColor);
			checkObject(startX,startY,mouseX,mouseY);
			startX = null;
			startY = null;

		}
		if(currentMiliSec != 0){
			timeRefTable.put(currentMiliSec,count);
		}else{
			nonRecordingObjArray[nonRecordingObjArray.length] = count;
		}
		
	}else{
		if(currentObjId == 7 && rectangleSelObject!= null){
			startX = null;
			startY = null;
		}

	}
	isDrawing = false;
	canvas.style.cursor = "default";	
}

function handleMouseMove(e) {
	
	if (isDrawing) {
		var mouseX = parseInt(e.clientX - offsetX);
		var mouseY = parseInt(e.clientY - offsetY);				
		/*
		ctx.clearRect(0, 0, canvas.width, canvas.height);
		ctx.beginPath();
		ctx.rect(startX, startY, mouseX - startX, mouseY - startY);
		ctx.stroke();
		*/
		
		createObject(currentObjId,startX,startY,mouseX,mouseY,triEndX,triEndY);
		
		if(currentObjId == 4){
			startX = mouseX;
			startY = mouseY;
			if(freeHandQdArr == null){
				freeHandQdArr = new Array();
			}
			freeHandQdArr[freeHandQdArr.length] = startX;
			freeHandQdArr[freeHandQdArr.length] = startY;
		}
	}
	else{
		if(rectangleSelObject != null && dragFlag){
		    //console.log("rectangleSelObject::::"+rectangleSelObject+"::isDrawing::"+isDrawing);
			//console.log("rectangleSelObject::::"+rectangleSelObject);
			var mouseX = parseInt(e.clientX - offsetX);
			var mouseY = parseInt(e.clientY - offsetY);
			translateSelectedObject(mouseX,mouseY);
			startX = mouseX;
			startY = mouseY;
		
		}

	}
}

function handleMouseDown(e) {
	if(currentObjId == 0){
		alert("Please select Object First");
		return;
	}
	if(currentObjId == 8){
		startX = parseInt(e.clientX - offsetX);
		startY = parseInt(e.clientY - offsetY);
		highlightObject();
		return;
	}
	if(!isDrawing && rectangleSelObject == null){
		canvas.style.cursor = "crosshair";		
		isDrawing = true
		startX = parseInt(e.clientX - offsetX);
		startY = parseInt(e.clientY - offsetY);
	}
	if(rectangleSelObject != null ){
		console.log("startX"+startX+":startY:"+startY);
		if(startX == null && startY == null){
			startX = parseInt(e.clientX - offsetX);
			startY = parseInt(e.clientY - offsetY);
		}
		var pointsArray = rectangleSelObject.pointsArray;
		/*
		if(transPointsArray ==  null){
			transPointsArray =  new Array();
			var pointsArray = rectangleSelObject.pointsArray;
			transPointsArray[0] = pointsArray[0] ;
			transPointsArray[1] = pointsArray[1] ;
			transPointsArray[2] = pointsArray[2] 
			transPointsArray[3] = pointsArray[3] ;
		}
		*/
		console.log("Check Start Points:::"+point_in_rectagnle(startX,startY,pointsArray[0],pointsArray[1],pointsArray[2],pointsArray[3]));
		if(point_in_rectagnle(startX,startY,pointsArray[0],pointsArray[1],pointsArray[2],pointsArray[3])){
			canvas.style.cursor = "move";		
			console.log("now transform object");
			isDrawing = false;
		}else{
			rectangleSelObject = null;
			selObjArray =  null;
			selObjArray = new Array();
			ctx.clearRect(0, 0, canvas.width, canvas.height);
			restore();
		}

	}
	/*
	if(currentObjId == 7){
		ctx.setLineDash([5]);
	}else{
		ctx.setLineDash([0]);
	}
	*/

	
}

function createObject(id,startx,starty,mouseX,mouseY,endX,endY){
//console.log("object Created");
	switch(id){
		case 1:
			ctx.clearRect(0, 0, canvas.width, canvas.height);
			restore();
			ctx.beginPath();
			ctx.strokeStyle = styleColor;
			ctx.lineWidth= lineWidth;
			createRectangle(startx, starty, mouseX , mouseY );
			ctx.closePath();
			ctx.stroke();
			break;
		case 2:
			ctx.clearRect(0, 0, canvas.width, canvas.height);
			restore();
			ctx.beginPath();
			ctx.strokeStyle = styleColor;
			ctx.lineWidth= lineWidth;
			createOval(startx, starty, mouseX , mouseY);
			/*
			var startAngleinDegrees = 0 ;
			var endAngleinDegrees = 360 ;
			  
			var startAngleinRadians = (Math.PI/180) * startAngleinDegrees ;
			var endAngleinRadians = (Math.PI/180) * endAngleinDegrees ;
			  
			ctx.beginPath() ;
			console.log("MousePos::x:"+startX+":y:"+startY+":w:"+ (mouseX - startX)+":h:"+(mouseY - startY));
			var w =  mouseX - startX;
			var h = mouseY - startY;
			var centerX  = startX + w/2
			var centerY  = startY + h/2
			
			if(w<0){
				 w = -w;
			}
			if(h<0){
				h = -h;
			}
			console.log("MousePos::x:"+startX+":y:"+startY+":w:"+ w+":h:"+h);
			ctx.ellipse(centerX , centerY,w,h, 0, startAngleinRadians, endAngleinRadians, false) ;
			ctx.lineWidth = 3;
			*/

			ctx.closePath() ;
			ctx.stroke() ;
			
			break;
		case 3:
			ctx.clearRect(0, 0, canvas.width, canvas.height);
			restore();
			ctx.beginPath();
			ctx.strokeStyle = styleColor;
			ctx.lineWidth= lineWidth;
			createLine(startx, starty, mouseX , mouseY );
			//points_is_onLine(startx, starty, mouseX , mouseY );
			ctx.closePath();
			ctx.stroke();
			break;
		case 4:
			//ctx.clearRect(0, 0, canvas.width, canvas.height);
			ctx.beginPath();
			ctx.strokeStyle = styleColor;
			ctx.lineWidth= lineWidth;
			//restore();
			//console.log("actual Points::"+startx+","+starty+","+mouseX+","+mouseY);
			createLine(startx, starty, mouseX , mouseY );
			ctx.closePath();
			ctx.stroke();
			break;
		case 5:
			ctx.clearRect(0, 0, canvas.width, canvas.height);
			restore();
			ctx.beginPath();
			ctx.strokeStyle = styleColor;
			ctx.lineWidth= lineWidth;
			if(endX != null && endY != null){
					createTriangle(startx,starty,mouseX,mouseY,endX,endY);
			}else{
				createLine(startx, starty, mouseX , mouseY );
			}

			ctx.closePath();
			ctx.stroke();
			break;
		case 6:
			ctx.clearRect(0, 0, canvas.width, canvas.height);
			restore();
			ctx.beginPath();
			ctx.strokeStyle = styleColor;
			ctx.lineWidth= lineWidth;
			createArrow(startx, starty, mouseX , mouseY );
			ctx.closePath();
			ctx.stroke();
			break;
		case 7:
			ctx.clearRect(0, 0, canvas.width, canvas.height);
			restore();ctx.save();
			ctx.beginPath();
			ctx.strokeStyle = "#000000";
			ctx.lineWidth= 2;
			ctx.setLineDash([2]);
			createRectangle(startx, starty, mouseX , mouseY );
			ctx.closePath();
			ctx.stroke();
			ctx.restore();
			break;
		
		}

}

function restore(){
	//console.log("restore"+objectTable.size());
	objectTable.moveFirst();
	while(objectTable.next()){
	 var isObjInSelList = false;
	 if(selObjArray != null){
	   for(var i=0;i<selObjArray.length;i++){
	      if(objectTable.getKey() == selObjArray[i]){
			 isObjInSelList = true;
		  }
	   }
	  }
	   if(!isObjInSelList){
			drawObject(objectTable.getKey(),false);
		}
	}

/*
	for(var ctr = 1;ctr<=objectTable.size();ctr++){
		//console.log("restore for loop");
			drawObject(ctr);
	}
	*/
}

function drawObject(id,highlight){
	//console.log("drawObject:;"+id+"::objectTable:;"+objectTable);
	/*
	if(myVid != null){
		myVid.currentTime = 2.564;
		console.log("currentime:::;"+myVid.currentTime);
		console.log("Start: " + myVid.seekable.start(0)+ " End: " + myVid.seekable.end(0));
	}
	*/
	var graphicsObject = objectTable.get(id);
	ctx.beginPath();
	if(highlight){
		ctx.strokeStyle='#FF0000';
		ctx.lineWidth=5;
	}else{
		ctx.strokeStyle = graphicsObject.color;
		ctx.lineWidth = graphicsObject.lineWidth;
	}
	
	//console.log("Object Type::;;:"+graphicsObject.type);
	switch(graphicsObject.type){
				case 1:
					var pointsArr = graphicsObject.pointsArray;
					createRectangle(pointsArr[0], pointsArr[1], pointsArr[2], pointsArr[3]);
					//ctx.closePath() ;
					//ctx.stroke();
					
					break;
				case 2:
					//ctx.beginPath();
					var pointsArr = graphicsObject.pointsArray;
					createOval(pointsArr[0], pointsArr[1], pointsArr[2], pointsArr[3]);
					//ctx.closePath() ;
					//ctx.stroke() ;
					
					break;
				case 3:
					//ctx.beginPath();
					var pointsArr = graphicsObject.pointsArray;
					createLine(pointsArr[0], pointsArr[1], pointsArr[2], pointsArr[3]);
					//ctx.closePath() ;
					//ctx.stroke() ;
					
					break;
				case 4:
					var points = graphicsObject.pointsArray;
					
					//drawCurve(ctx, points);
					drawCurve(ctx,points, 1, false, 10, false);
					/*
					ctx.moveTo(points[0], points[1]);
				    for (i = 2; i < points.length - 6; i = i+2){
					  var xc = (points[i] + points[i + 2]) / 2;
					  var yc = (points[i+1] + points[i + 3]) / 2;
					  ctx.quadraticCurveTo(points[i], points[i+1], xc, yc);
				    }
					 // curve through the last two points
					 ctx.quadraticCurveTo(points[i], points[i+1], points[i+2],points[i+3]);

					*/


					/*

					var pointsArr = graphicsObject.pointsArray;
					//console.log("Length::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::"+pointsArr.length);
					for(i=0;(i+3)<pointsArr.length;i = i+2){
						//ctx.beginPath();
						//console.log("Restore Points::"+pointsArr[i+0]+","+pointsArr[i+1]+","+pointsArr[i+2]+","+ pointsArr[i+3]);
						createLine(pointsArr[i+0], pointsArr[i+1], pointsArr[i+2], pointsArr[i+3]);
						//ctx.closePath() ;
						//ctx.stroke() ;
					}
					*/
					//console.log("Done----------------------------------------------------------------------------------------------");
					break;
				case 5:

					//ctx.beginPath();
					var pointsArr = graphicsObject.pointsArray;
					//console.log("Triangle:::"+pointsArr);
					createTriangle(pointsArr[0], pointsArr[1], pointsArr[2], pointsArr[3], pointsArr[4], pointsArr[5]);
					//ctx.closePath() ;
					//ctx.stroke();
					break;
				case 6:
					//ctx.beginPath();
					var pointsArr = graphicsObject.pointsArray;
					createArrow(pointsArr[0], pointsArr[1], pointsArr[2], pointsArr[3]);
					//ctx.closePath() ;
					//ctx.stroke() ;
					break;
				}
	console.log("Draw Object:::close path::::");
	ctx.closePath() ;
	ctx.stroke() ;
}

function GraphicsObject(id,type,pointsArray,lnWidth,lnColor)
{	this.id = id;
	this.type = type;
	this.pointsArray = pointsArray;
	this.lineWidth = lnWidth;
	this.color = lnColor;
	
}

function setId(id){
	currentObjId = id;
	init();
	
}

function init(){
 startX =  null;
 startY =  null;

 triEndX =  null;
 triEndY =  null;
 dragFlag = false;
console.log("Inside init:::"+rectangleSelObject);
 if(rectangleSelObject != null){
		rectangleSelObject = null;
		selObjArray =  null;
		selObjArray = new Array();
		ctx.clearRect(0, 0, canvas.width, canvas.height);
		restore();
	}
}
/*
function createOval(x1,y1,x2,y2){
		var startAngleinDegrees = 0 ;
		var endAngleinDegrees = 360 ;
		  
		var startAngleinRadians = (Math.PI/180) * startAngleinDegrees ;
		var endAngleinRadians = (Math.PI/180) * endAngleinDegrees ;
		  
		//console.log("MousePos::x:"+startX+":y:"+startY+":w:"+ (mouseX - startX)+":h:"+(mouseY - startY));
		var w = x2 - x1;
		var h = y2 - y1;
		var centerX  = x1 + w/2
		var centerY  = y1 + h/2
		
		if(w<0){
			 w = -w;
		}
		if(h<0){
			h = -h;
		}
		//console.log("MousePos::x:"+startX+":y:"+startY+":w:"+ w+":h:"+h);
		ctx.ellipse(centerX , centerY,w,h, 0, startAngleinRadians, endAngleinRadians, false) ;
		
}*/

function createOval(x, y, xe, ye)
{
    ctx.save();
    //ctx.beginPath();
    var rx = (xe - x) / 2;
    var ry = (ye - y) / 2;
    ctx.translate(x + rx, y + ry);
    rx = Math.abs(rx);
    ry = Math.abs(ry);
    if (rx < ry)
    {
        ctx.scale(1, Math.abs(ry / rx));
        ctx.arc(1, 1, rx, 0, 2 * Math.PI, false);
    }
    else
    {
        ctx.scale(Math.abs(rx / ry), 1);
        ctx.arc(1, 1, ry, 0, 2 * Math.PI, false);
    }
    ctx.restore();
   // ctx.stroke();
}
function createRectangle(x1,y1,x2,y2){
	ctx.rect(x1, y1,x2-x1,y2-y1);
}

function createLine(x1,y1,x2,y2){
	ctx.moveTo(x1, y1);
    ctx.lineTo(x2, y2);
}

function createTriangle(x1,y1,x2,y2,x3,y3){
	createLine(x1,y1,x2,y2);
	createLine(x1,y1,x3,y3);
	createLine(x2,y2,x3,y3);
}

function createArrow(x1,y1,x2,y2){
var angleRad = slope_In_Radian(x1,y1,x2,y2);
	
	if(distanceBetween(x1,y1,x2,y2)>15){
		ctx.moveTo(x1, y1);
		ctx.lineTo(x2, y2);
		drawArrowhead(x2,y2,angleRad)
	}
}

function slope_In_Radian(x1,y1,x2,y2){
	var angleRad;
	if(x2>=x1 && y1>=y2) {
		angleRad = Math.atan2((y1-y2),(x2-x1));
		angleDeg = angleRad * 180 / Math.PI;
	    angleDeg = 90-angleDeg;
	    angleRad = angleDeg * Math.PI/180;
	 }
	if(x1>=x2 && y1>=y2){
		angleRad = Math.atan2((y2-y1),(x1-x2));
		angleDeg = angleRad * 180 / Math.PI;
		angleDeg = -(90 + angleDeg);
		angleRad = angleDeg * Math.PI/180;
	}
	if(x1>=x2 && y2>=y1){
		angleRad = Math.atan2((y1-y2),(x2-x1));
		angleDeg = angleRad * 180 / Math.PI;
		angleDeg = -(270 + angleDeg);
		angleRad = angleDeg * Math.PI/180;
	}
	if(x2>=x1 && y2>=y1){
		angleRad = Math.atan2((y2-y1),(x1-x2));
		angleDeg = angleRad * 180 / Math.PI;
		angleDeg = (270 - angleDeg);
		angleRad = angleDeg * Math.PI/180;
	}
	return angleRad;
}

function drawArrowhead(x,y,angleRad){
  
	if(tempX == null){
		tempAngleRad = angleRad;
		tempX = x,
		tempY = y;
		
	}
	ctx.save();
	//console.log("tempX:"+tempX+"tempY::"+tempY);
	ctx.translate(x,y);
	
	ctx.rotate(angleRad);
    ctx.moveTo(0,0);
    ctx.lineTo(5,15);
    ctx.lineTo(-5,15)
	ctx.fillStyle = styleColor;
	ctx.fill();;
   
	if(tempX != null){
		ctx.translate(-x,-y);
		angleDeg = tempAngleRad * 180 / Math.PI;
		angleDeg = (360 - angleDeg);
		angleRad = angleDeg * Math.PI/180;
		ctx.rotate(angleRad);
	}
	 ctx.restore();
}

 function playObject(){
// alert(timeRefTable);
	myVid=document.getElementById("audio1");
	myVid.src = "http://www.topchalks.com/tc/kina_9.mp3";
	myVid.play();

	ctx.clearRect(0, 0, canvas.width, canvas.height);
	for(ctr = 0;ctr<nonRecordingObjArray.length;ctr++){
		drawObject(nonRecordingObjArray[ctr],false);
	}


	timeRefTable.moveFirst();
	while(timeRefTable.next()){
		//alert(timeRefTable.getKey());
		//alert(timeRefTable.getValue());
		setTimeout('drawObject('+timeRefTable.getValue()+','+'"false"'+')',timeRefTable.getKey())
	}
	
	//setTimeout('drawObject(ctr)',timeRefTable.get(ctr));
	//		drawObject(ctr);
	
 }

 function checkObject(startX,startY,mouseX,mouseY){

	objectTable.moveFirst();
	while(objectTable.next()){
	  var graphicsObject = objectTable.get(objectTable.getKey());
	  var isSel = false;
	   switch(graphicsObject.type){
			
				case 1:
					var pointsArr = graphicsObject.pointsArray;
					for(i=0;i<pointsArr.length;i=i+2){
						for(j=1;j<pointsArr.length;j=j+2){
							if(point_in_rectagnle(pointsArr[i], pointsArr[j],startX,startY,mouseX,mouseY)){
								selObjArray[selObjArray.length] = objectTable.getKey();
								i = pointsArr.length;
								console.log("selObjArray:::"+selObjArray);
								break;
							}
							
					  }
					}

					break;
				
				case 2:
					ctx.beginPath();
					var pointsArr = graphicsObject.pointsArray;
					console.log("points::::"+pointsArr);
					var rx = (pointsArr[2] - pointsArr[0]) / 2;
				    var ry = (pointsArr[3] - pointsArr[1]) / 2;
				    console.log("p1::::"+(pointsArr[0]+rx)+","+ pointsArr[1]);
					console.log("p2::::"+(pointsArr[0]+rx)+","+ pointsArr[3]);
					console.log("p3::::"+pointsArr[0]+","+ (pointsArr[1]+ry));
					console.log("p4::::"+pointsArr[2]+","+ (pointsArr[1]+ry));
					if(point_in_rectagnle((pointsArr[0]+rx),pointsArr[1],startX,startY,mouseX,mouseY)){
						selObjArray[selObjArray.length] = objectTable.getKey();
						break;
					}
					if(point_in_rectagnle((pointsArr[0]+rx),pointsArr[3],startX,startY,mouseX,mouseY)){
						selObjArray[selObjArray.length] = objectTable.getKey();
						break;
					}
					if(point_in_rectagnle((pointsArr[0]),pointsArr[1]+ry,startX,startY,mouseX,mouseY)){
						selObjArray[selObjArray.length] = objectTable.getKey();
						break;
					}
					if(point_in_rectagnle((pointsArr[2]),pointsArr[1]+ry,startX,startY,mouseX,mouseY)){
						selObjArray[selObjArray.length] = objectTable.getKey();
						break;
					}
				
				case 3:
					var pointsArr = graphicsObject.pointsArray;
					for(i=0;i<pointsArr.length;i=i+2){
							if(point_in_rectagnle(pointsArr[i], pointsArr[i+1],startX,startY,mouseX,mouseY)){
								selObjArray[selObjArray.length] = objectTable.getKey();
								console.log("selObjArray:::"+selObjArray);
								break;
							}
							
					  }
									
					break;
				case 4:
					var pointsArr = graphicsObject.pointsArray;
					for(i=0;i<pointsArr.length;i=i+2){
							if(point_in_rectagnle(pointsArr[i], pointsArr[i+1],startX,startY,mouseX,mouseY)){
								selObjArray[selObjArray.length] = objectTable.getKey();
								console.log("selObjArray:::"+selObjArray);
								break;
							}
							
					}
				
					//console.log("Done----------------------------------------------------------------------------------------------");
					break;
				case 5:

					var pointsArr = graphicsObject.pointsArray;
					for(i=0;i<pointsArr.length;i=i+2){
							if(point_in_rectagnle(pointsArr[i], pointsArr[i+1],startX,startY,mouseX,mouseY)){
								selObjArray[selObjArray.length] = objectTable.getKey();
								console.log("selObjArray:::"+selObjArray);
								break;
							}
							
					 }
					
					break;
				case 6:
					var pointsArr = graphicsObject.pointsArray;
					for(i=0;i<pointsArr.length;i=i+2){
							if(point_in_rectagnle(pointsArr[i], pointsArr[i+1],startX,startY,mouseX,mouseY)){
								selObjArray[selObjArray.length] = objectTable.getKey();
								console.log("selObjArray:::"+selObjArray);
								break;
							}
							
					 }
					break;
					
				}


	}

 }

function between(min, p, max){
  result = false;

  if ( min < max ){
    if ( p > min && p < max ){
      result = true;
    }
  }

  if ( min > max ){
    if ( p > max && p < min){
      result = true
    }
  }

  if ( p == min || p == max ){
    result = true;
  }

  return result;
}

function point_in_rectagnle(x,y,left, top, right, bottom){
  console.log("Dotted Rectangle points::"+left+":"+top+":"+right+":"+bottom);
  result = false;

  if ( between(left,x,right) && between(top,y,bottom ) ){
    result = true;
  }
  return result;
}

function deleteSelectedObject(){
//alert("deleteSelectedObject");
 for(var ctr = 0;ctr<selObjArray.length;ctr++){
	var key = selObjArray[ctr];
	objectTable.remove(key);
 }
 ctx.clearRect(0, 0, canvas.width, canvas.height);
 rectangleSelObject = null;
 selObjArray =  null;
 selObjArray = new Array();
 restore();
}


function translateSelectedObject(x,y){
  var dx = x -  startX;
  var dy = y -  startY;
  console.log("rectangleSelObject.pointsArray:::"+rectangleSelObject.pointsArray);
  var pointsArray = rectangleSelObject.pointsArray;
	 /*
	  transPointsArray[0] = pointsArray[0] + dx;
	  transPointsArray[1] = pointsArray[1] + dy;
	  transPointsArray[2] = pointsArray[2] + dx;
	  transPointsArray[3] = pointsArray[3] + dy;
	*/
	  pointsArray[0] = pointsArray[0] + dx;
	  pointsArray[1] = pointsArray[1] + dy;
	  pointsArray[2] = pointsArray[2] + dx;
	  pointsArray[3] = pointsArray[3] + dy;
      rectangleSelObject.pointsArray = pointsArray;
	  createObject(rectangleSelObject.type,pointsArray[0],pointsArray[1],pointsArray[2],pointsArray[3],triEndX,triEndY);
	  if(selObjArray!= null){
		  for(var i=0;i<selObjArray.length;i++){
			var graphicsObject = objectTable.get(selObjArray[i]);
			var pointsArr = graphicsObject.pointsArray;
				for(var j=0;j<pointsArr.length;j++){
					if(j%2 != 0){
						pointsArr[j] = pointsArr[j] + dy;
					}else{
						pointsArr[j] = pointsArr[j] + dx;
					}
				}
				graphicsObject.pointsArray = pointsArr;
				drawObject(selObjArray[i],false);
		  }
		}
}

function highlightObject(){

	objectTable.moveFirst();
	console.log("ObjectTable:::"+objectTable);
	while(objectTable.next()){
	  var graphicsObject = objectTable.get(objectTable.getKey());
	   switch(graphicsObject.type){
			
				case 1:
					var pointsArr = graphicsObject.pointsArray;
					
					if(point_in_rectagnle(startX,startY,pointsArr[0],pointsArr[1],pointsArr[2],pointsArr[3])){
						if(highlightedObj != null){
						   if(highlightedObj.id < graphicsObject.id){
								highlightedObj = graphicsObject;
						   }
						}else{
							highlightedObj = graphicsObject;
						}
					}

					break;
				case 2:
					ctx.beginPath();
					var pointsArr = graphicsObject.pointsArray;
					if(is_in_ellipse(startX,startY,pointsArr[0],pointsArr[1],pointsArr[2],pointsArr[3])){
						if(highlightedObj != null){
						   if(highlightedObj.id < graphicsObject.id){
								highlightedObj = graphicsObject;
						   }
						}else{
							highlightedObj = graphicsObject;
						}
					}
					
					break;
				
				case 3:
					var pointsArr = graphicsObject.pointsArray;
					console.log("points is::::"+points_is_onLine(startX,startY,pointsArr[0],pointsArr[1],pointsArr[2],pointsArr[3]));						
					break;
				case 4:
					var pointsArray = graphicsObject.pointsArray;
					break;
				case 5:
					var pointsArr = graphicsObject.pointsArray;
					console.log("startX:::;"+startX+"::startY:::"+startY);
					if(is_in_triangle(startX,startY,pointsArr[0],pointsArr[1],pointsArr[2],pointsArr[3],pointsArr[4],pointsArr[5])){
						if(highlightedObj != null){
						   if(highlightedObj.id < graphicsObject.id){
								highlightedObj = graphicsObject;
						   }
						}else{
							highlightedObj = graphicsObject;
						}
					}
					break;
				case 6:
					var pointsArr = graphicsObject.pointsArray;
					break;
					
				}


	}
	if(highlightedObj != null){ 
		ctx.clearRect(0, 0, canvas.width, canvas.height);
		restore();
		drawObject(highlightedObj.id,true);
	}

}

function is_in_triangle (px,py,ax,ay,bx,by,cx,cy){
	var v0 = [cx-ax,cy-ay];
	var v1 = [bx-ax,by-ay];
	var v2 = [px-ax,py-ay];

	var dot00 = (v0[0]*v0[0]) + (v0[1]*v0[1]);
	var dot01 = (v0[0]*v1[0]) + (v0[1]*v1[1]);
	var dot02 = (v0[0]*v2[0]) + (v0[1]*v2[1]);
	var dot11 = (v1[0]*v1[0]) + (v1[1]*v1[1]);
	var dot12 = (v1[0]*v2[0]) + (v1[1]*v2[1]);

	var invDenom = 1/ (dot00 * dot11 - dot01 * dot01);

	var u = (dot11 * dot02 - dot01 * dot12) * invDenom;
	var v = (dot00 * dot12 - dot01 * dot02) * invDenom;

	return ((u >= 0) && (v >= 0) && (u + v < 1));
}

function is_in_ellipse(px,py,x1,y1,x2,y2){
   console.log("px:"+px+":py::"+py+":x1:"+x1+":y1:"+y1+":x2:"+x2+"y2:"+y2);
	var w = x2 - x1;
	var h = y2 - y1;
	var centerX  = x1 + w/2
	var centerY  = y1 + h/2
	
	if(w<0){
		 w = -w;
	}
	if(h<0){
		h = -h;
	}
   var rx = w/2;
   var ry = h/2
   
	var val = (Math.pow((px-centerX),2)/Math.pow(rx,2) + Math.pow((py-centerY),2)/Math.pow(ry,2))

	console.log("val::::::::::::::"+val);
	if(val<=1.2){
		return true;
	}else{
		return false;
	}
}

function points_is_onLine(x1,y1,x2,y2){
 console.log(":x1:"+x1+":y1:"+y1+":x2:"+x2+"y2:"+y2);
 /*
  var s1 = distanceBetween(x1,y1,px,py);
  var s2 = distanceBetween(px,py,x2,y2);
  var s3 = distanceBetween(x1,y1,x2,y2);
  var s = (s1 + s2 + s3)/2;
  var area = Math.sqrt(s * (s - s1) * (s - s2) * (s - s3));
  console.log("Triagle area:::"+area);
  return area;
  */
  
  var angleRad = slope_In_Radian(x1,y1,x2,y2);
	angleDeg = angleRad * 180 / Math.PI;
	angleDeg =  angleDeg -90;
	angleRad = angleDeg * Math.PI/180;
	console.log("angleDeg::;"+angleDeg);
  y1 = y1+20;
  y2 = y2+20;
  var x1r = x1*Math.cos(angleRad)-y1*Math.sin(angleRad);
  var y1r = x1*Math.cos(angleRad)+y1*Math.sin(angleRad);

  var x2r = x2*Math.cos(angleRad)-y2*Math.sin(angleRad);
  var y2r = x2*Math.cos(angleRad)+y2*Math.sin(angleRad);
   console.log(":x1r:"+x1r+":y1r:"+y1r+":x2r:"+x2r+":y2r:"+y2r);
 
  createLine(x1r,y1r,x2r,y2r);
  



}

function distanceBetween(x1,y1,x2,y2){
   var xDiff = (x2-x1);
   var yDiff = (y2-y1);
   var distance = Math.sqrt(Math.pow(xDiff,2)+ Math.pow(yDiff,2));
   console.log("distance:::"+distance);
   return distance

}

function setLineWidth(obj){
 document.getElementById("big_image").src = "images/meeting/"+obj.id+"_big.JPG";
 lineWidth = obj.id;
}

function setStyleColor(obj){
 document.getElementById("color_image").src = "images/meeting/"+obj.id+"_big.JPG";
 styleColor= obj.id;
}

/*
function translateObject(id,dx,dy){
	var graphicsObject = objectTable.get(id);
	switch(graphicsObject.id){
				case 1:
					ctx.beginPath();
					var pointsArr = graphicsObject.pointsArray;
					createRectangle(pointsArr[0], pointsArr[1], pointsArr[2], pointsArr[3]);
					ctx.closePath() ;
					ctx.stroke();
					
					break;
				case 2:
					ctx.beginPath();
					var pointsArr = graphicsObject.pointsArray;
					createOval(pointsArr[0], pointsArr[1], pointsArr[2], pointsArr[3]);
					ctx.closePath() ;
					ctx.stroke() ;
					
					break;
				case 3:
					ctx.beginPath();
					var pointsArr = graphicsObject.pointsArray;
					createLine(pointsArr[0], pointsArr[1], pointsArr[2], pointsArr[3]);
					ctx.closePath() ;
					ctx.stroke() ;
					
					break;
				case 4:
					var pointsArr = graphicsObject.pointsArray;
					//console.log("Length::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::"+pointsArr.length);
					for(i=0;(i+3)<pointsArr.length;i = i+2){
						ctx.beginPath();
						//console.log("Restore Points::"+pointsArr[i+0]+","+pointsArr[i+1]+","+pointsArr[i+2]+","+ pointsArr[i+3]);
						createLine(pointsArr[i+0], pointsArr[i+1], pointsArr[i+2], pointsArr[i+3]);
						ctx.closePath() ;
						ctx.stroke() ;
					}
					
					//console.log("Done----------------------------------------------------------------------------------------------");
					break;
				case 5:

					ctx.beginPath();
					var pointsArr = graphicsObject.pointsArray;
					//console.log("Triangle:::"+pointsArr);
					createTriangle(pointsArr[0], pointsArr[1], pointsArr[2], pointsArr[3], pointsArr[4], pointsArr[5]);
					ctx.closePath() ;
					ctx.stroke();
					break;
				case 6:
					ctx.beginPath();
					var pointsArr = graphicsObject.pointsArray;
					createArrow(pointsArr[0], pointsArr[1], pointsArr[2], pointsArr[3]);
					ctx.closePath() ;
					ctx.stroke() ;
					break;
				}
}
*/

//-->
</script>
</html>